{% load static %}
<!DOCTYPE html>
<html>
   <head>
    <title>Taller Mecanico Rayo Makween</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
      
     <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <title>Formulario De contacto Makween </title> 
</head>
 <body class="bow">
    <div class="cajaTexto">
        <header>Formulario de contacto Mecanica Makween</header>
    </div>
    <div class="details personal" style="color:white">
        <center><span class="title">Informacion necesaria para enviar el formulario</span></center>
      <div class="fields">
   <div class="lario2">
        <form id="#">
                <div class="contactoForm">

                    <div class="input-field">
                        <label for="nombreComp">Nombre Completo</label>
                        <input type="text" id="nombreComp" required>
                    </div>
                    <div class="input-field">
                        <label for="correoGmail">Correo electronico</label>
                        <input type="text" id="correoGmail" required>
                    </div>
                    <div class="input-field">
                        <label for="marca">Marca</label>
                        <select class="Ch2LG has-custom-focus _1UP8Q" id="collection_comp-ju8grd9b" required=""><option selected="" value="" disabled="" class="Vx877 _3pa83">       Marca de auto</option><option value="Chevrolet" class="Vx877">Chevrolet</option><option value="Ford" class="Vx877">Ford</option><option value="Hyudai" class="Vx877">Hyundai</option><option value="Honda" class="Vx877">Honda</option><option value="Kia" class="Vx877">Kia</option><option value="Mazda" class="Vx877">Mazda</option>
                            <option value="Mitsubishi" class="Vx877">Mitsubishi</option><option value="Nissan" class="Vx877">Nissan</option><option value="Peugeot" class="Vx877">Peugeot</option><option value="Renault" class="Vx877">Renault</option><option value="Suzuki" class="Vx877">Suzuki</option><option value="Toyota" class="Vx877">Toyota</option><option value="Volkswagen" class="Vx877">Volkswagen</option><option value="Otro (indique en comentarios)" class="Vx877">Otro (indique en comentarios)</option></select>
                    </div>

                    <div class="input-field">
                        <label for="modeloAuto">Modelo del Auto</label>
                        <input type="text" id="modeloAuto" required>
                    </div>

                    <div class="input-field">
                        <label for="tipoServicio">Tipo Servicio</label>
                        <input type="text" id="tipoServicio" required>
                    </div>

                    
                    <div class="input-field">
                        <label for="descripcion">Descripcion</label>
                        <textarea class="form-control" id="descripcion" rows="3" required></textarea>
                    </div>
                    <div class="input-field">
                        <div class="buttons">
                            <div class="nav-item">
                                <a href="{% url 'indexTallermlween' %}" type="button" class="login-button btn btn-xs btn-default" title="Log in" style="color: white;">
                                <span class="glyphicon glyphicon-log-in"></span> Volver </a>
                            </div>

                           
                        <input href="{% url 'formulario_enviado_succes' %}" type="submit" value="Enviar">
                           

                </div>
        </form>
 </body>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
















   
























 