{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Enlazando el CSS de Bootstrap -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
       
  </head>
  <body class="bow">

    <div class="cajaTexto">
        <header>INICIAR SESION</header>
        <h1><header>INGRESE SUS DATOS</h1></header>
    </div>
    <div class="lario2">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Datos de Accseso</legend>
                {% if form.non_field_errors %}
                <div class="error" style="margin-bottom: 10px; font-weight: 800;">•Datos incorrectos, intentar nuevamente</div>
                {% endif %}
                <a>

                </a>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nombre de Usuario:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                    {{ form.password }}
                </div>
                <a href="{% url 'indexTallermlween' %}" class="login-button btn btn-xs btn-default" title="Log in" style="color: white;">
                    Volver </a>
                <button type="submit" class="btn btn-primary">INGRESAR</button>
            </fieldset>
        </form>
    </div>
    
    


  </body>
</html>